<script>
    async function toggleAdmin(email) {
        await fetch("/api/modifyuser", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ email }),
        }).then((res) => {
            console.log(res.json());
        }).catch(console.log)
    }
    async function deleteUser(email) {
        await fetch("/api/deleteuser", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ email }),
        }).then((res) => {
            console.log(res.json());
        }).catch(console.log)
        document.location.reload(true);
    }
</script>
<div class="userList">
    <h1>Users:</h1>
<% users.map((usr) => { %>
<% console.log(usr)%>
<div id="<%= usr.id %>" class="userCard">
    <p><%= usr.firstName %> <%= usr.lastName %></p>
    
    <div class="admin"><p>Admin:</p><input
        type="checkbox"
        onchange="toggleAdmin('<%= usr.email %>')"
        <% if(usr.admin){ %> checked <% } %> /></div>
        <p>Account created on: <%= usr.lastVisited.toLocaleDateString("en-US", { weekday:
            'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
    <button onclick="deleteUser('<%= usr.email %>')">Delete user</button>
</div>

<% }) %>
</div>