<div class="pageContent">
    <h1>Quizzes:</h1>
    <div class="quizList">
        <% quizzes.map((quiz) => { %>
        <div id="<%= quiz.id %>" class="quizCard">
            <a href="/quiz/<%= quiz.id %>">
                <h2><%= quiz.name %></h2>
                <p><%= quiz.description %></p>
                <div class="difcreate">
                    <small><%= quiz.difficulty %></small>
                    <small>By: <%= quiz.creator %></small>
                </div>
                <h5>
                    <%= quiz.createdOn.toLocaleDateString("en-US", { weekday:
                    'long', year: 'numeric', month: 'long', day: 'numeric' }) %>
                </h5>
            </a>
        </div>
        <% }) %>
    </div>
</div>
