<!DOCTYPE html>
<html lang="en">
    <%- include("../components/head/head.ejs") %>
    <body>
        <div>
            <header><%- include("../components/header/header.ejs") %></header>
            <div class="pageContent">
                <div class="upload">
                    <div class="quizproperties">
                        <%-
                        include("../components/gameplay/upload/properties.ejs")
                        %>
                    </div>

                    <div class="current">
                        <%- include("../components/gameplay/upload/current.ejs")
                        %>
                    </div>
                    <div class="added">
                        <%- include("../components/gameplay/upload/added.ejs")
                        %>
                    </div>
                </div>
            </div>
            <footer><%- include("../components/footer/footer.ejs") %></footer>
        </div>
    </body>
</html>
